.input1 {
    text-align: center;
}

.input2 {
    text-align: center;
}

.input3 {
    text-align: center;
}

.submit {
    text-align: center;
}
.input-field {
    margin: 2rem;
}
h1{
    color: black;
}
